# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test / coverage reports
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Local settings
*.log
logs/
.ruff_cache/
Lavalink.jar
