aiodns
aiohappyeyeballs
aiohttp
aiosignal
akinator
anyio
arrow
astroid
attrs
audioop-lts
autopep8
bandit
beautifulsoup4
black
braceexpand
certifi
cffi
charset-normalizer
chess
click
cloudscraper
colorama
cssselect
dateparser
davey
dill
discord.py
dnspython
english-words
flake8
frozenlist
h11
idna
import_expression
isort
Jinja2
jishaku
lxml
markdown-it-py
markdownify
MarkupSafe
mccabe
mdurl
multidict
mypy_extensions
nodeenv
orjson
packaging
parsedatetime
pathspec
pillow
platformdirs
propcache
psutil
pycares
pycodestyle
pycparser
pyflakes
Pygments
pylint
pymongo
PyNaCl
pyparsing
pyright
python-dateutil
python-dotenv
python-frontmatter
pytokens
pytz
PyYAML
RapidFuzz
redis
regex
requests
requests-toolbelt
rich
ruff
six
soupsieve
stevedore
tabulate
tomlkit
types-html5lib
types-lxml
types-webencodings
typing_extensions
tzdata
tzlocal
urllib3
uvicorn
uvloop
watchfiles
yapf
yarl
