aiodns
aiofile
aiofiles
aiohttp
aioredis
aiosignal
async_lru
anyio
arrow
astroid
astunparse
async-timeout
autopep8
attrs
bandit
beautifulsoup4
black
blinker
braceexpand
Brotli
caio
certifi
cffi
charset-normalizer
chess
click
colorama
dill
discord.py @ git+https://github.com/Rapptz/discord.py@e870bb1335e3f824c83a40df4ea9b17f215fde63
dnspython
fastapi
flake8
flake8-json
Pyflakes
pycodestyle
mccabe
isort
pep8-naming
pydocstyle
pyupgrade
flake8-2020
flake8-annotations
flake8-async
flake8-bandit
flake8-blind-except
flake8-boolean-trap
flake8-bugbear
flake8-builtins
flake8-commas
flake8-comprehensions
flake8-datetimez
flake8-debugger
flake8-errmsg
flake8-executable
flake8-future-annotations
flake8-implicit-str-concat
flake8-import-conventions
flake8-logging-format
flake8-no-pep420
flake8-pie
flake8-print
flake8-pyi
flake8-pytest-style
flake8-quotes
flake8-raise
flake8-return
flake8-self
flake8-simplify
flake8-tidy-imports
flake8-type-checking
flake8-gettext
flake8-unused-arguments
flake8-use-pathlib
flake8-todos
flake8-fixme
eradicate
pandas-vet
Pylint
tryceratops
flynt
frozenlist
gitdb
GitPython
grapheme
h11
h2
hpack
humanize
hypercorn
hyperframe
idna
import-expression
isort
itsdangerous
Jinja2
jishaku @ git+https://github.com/Gorialis/jishaku
lazy-object-proxy
lru-dict
lxml
markdown-it-py
markdownify
MarkupSafe
mccabe
mdurl
motor
multidict
mypy
mypy-extensions
numpy
oauthlib
opuslib
orjson
packaging
pandas
parsedatetime
pathspec
pbr
Pillow
platformdirs
prettytable
priority
psutil
pycares
pycodestyle
pycparser
pydantic
pyenchant
pyflakes
pygit2
Pygments
pylint
pymongo
PyNaCl
pyparsing
pypng
pyright
python-dateutil
python-dotenv
pytz
PyYAML
qrcode
quart
rapidfuzz
requests
requests-oauthlib
rich
six
smmap
sniffio
soupsieve
starlette
stevedore
tabulate
toml
tomlkit
topggpy
tornado
tweepy @ git+https://github.com/tweepy/tweepy
typing_extensions
tzdata
urllib3
uvicorn
Wavelink @ git+https://github.com/PythonistaGuild/Wavelink
wcwidth
Werkzeug
wheezy.captcha
wrapt
wsproto
yarl
yapf
youtube-dl