aiodns
aiofile
aiofiles
aiohttp
aioredis
aiosignal
anyio
arrow
astunparse
async-timeout
attrs
beautifulsoup4
black
blinker
braceexpand
Brotli
caio
certifi
cffi
charset-normalizer
chess
click
colorama
discord.py @ git+https://github.com/Rapptz/discord.py@e870bb1335e3f824c83a40df4ea9b17f215fde63
dnspython
fastapi
frozenlist
grapheme
humanize
hypercorn
hyperframe
idna
import-expression
isort
itsdangerous
Jinja2
jishaku @ git+https://github.com/Gorialis/jishaku@bf26bea3c1f86993fd75744de48bf52d4925521a
lru-dict
lxml
markdownify
MarkupSafe
motor
multidict
mypy-extensions
numpy
oauthlib
opuslib
orjson
packaging
pandas
parsedatetime
pathspec
Pillow
platformdirs
prettytable
priority
psutil
pycares
pycparser
pydantic
pygit2
pymongo
PyNaCl
pyparsing
pypng
python-dateutil
python-dotenv
pytz
PyYAML
qrcode
quart
rapidfuzz
requests
tabulate
toml
topggpy
tornado
tweepy @ git+https://github.com/tweepy/tweepy@62cb9907b2e83ef99bb37078a6b7844ce5a1e9d8
typing_extensions
tzdata
urllib3
uvicorn
Wavelink @ git+https://github.com/PythonistaGuild/Wavelink@0d28aadac0905842e2292d153d287eb3efc19801
wcwidth
Werkzeug
wheezy.captcha
wsproto
yarl
youtube-dl
