# CUSTOM COMMAND - COUNTING CHANNEL

# Configuration starts here
COUNTING_CHANNEL_ID = YOUR_CHANNEL_ID
# Configuration ends here

if message.channel.id != COUNTING_CHANNEL_ID:
    return

data = await get_db()

if not data.get("count"):
    data["count"] = 0

_count = data["count"] + 1

if message.content != ToStr(_count):
    await message.delete()
else:
    data["count"] = _count
    await edit_db(update={"$set": data})
